@font-face {
    font-family: 'Ciutadella';
    src: url('Ciutadella-RegularItalic.eot');
    src: local('Ciutadella Italic'), local('Ciutadella-RegularItalic'),
        url('Ciutadella-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('Ciutadella-RegularItalic.woff2') format('woff2'),
        url('Ciutadella-RegularItalic.woff') format('woff'),
        url('Ciutadella-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Ciutadella';
    src: url('Ciutadella-Bold.eot');
    src: local('Ciutadella Bold'), local('Ciutadella-Bold'),
        url('Ciutadella-Bold.eot?#iefix') format('embedded-opentype'),
        url('Ciutadella-Bold.woff2') format('woff2'),
        url('Ciutadella-Bold.woff') format('woff'),
        url('Ciutadella-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Ciutadella';
    src: url('Ciutadella-BoldItalic.eot');
    src: local('Ciutadella Bold Italic'), local('Ciutadella-BoldItalic'),
        url('Ciutadella-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Ciutadella-BoldItalic.woff2') format('woff2'),
        url('Ciutadella-BoldItalic.woff') format('woff'),
        url('Ciutadella-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Ciutadella';
    src: url('Ciutadella-MediumItalic.eot');
    src: local('Ciutadella Medium Italic'), local('Ciutadella-MediumItalic'),
        url('Ciutadella-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('Ciutadella-MediumItalic.woff2') format('woff2'),
        url('Ciutadella-MediumItalic.woff') format('woff'),
        url('Ciutadella-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Ciutadella';
    src: url('Ciutadella-Regular.eot');
    src: local('Ciutadella'), local('Ciutadella-Regular'),
        url('Ciutadella-Regular.eot?#iefix') format('embedded-opentype'),
        url('Ciutadella-Regular.woff2') format('woff2'),
        url('Ciutadella-Regular.woff') format('woff'),
        url('Ciutadella-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ciutadella';
    src: url('Ciutadella-Medium.eot');
    src: local('Ciutadella Medium'), local('Ciutadella-Medium'),
        url('Ciutadella-Medium.eot?#iefix') format('embedded-opentype'),
        url('Ciutadella-Medium.woff2') format('woff2'),
        url('Ciutadella-Medium.woff') format('woff'),
        url('Ciutadella-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Ciutadella';
    src: url('Ciutadella-SemiBoldItalic.eot');
    src: local('Ciutadella SemiBold Italic'), local('Ciutadella-SemiBoldItalic'),
        url('Ciutadella-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Ciutadella-SemiBoldItalic.woff2') format('woff2'),
        url('Ciutadella-SemiBoldItalic.woff') format('woff'),
        url('Ciutadella-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Ciutadella';
    src: url('Ciutadella-SemiBold.eot');
    src: local('Ciutadella SemiBold'), local('Ciutadella-SemiBold'),
        url('Ciutadella-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('Ciutadella-SemiBold.woff2') format('woff2'),
        url('Ciutadella-SemiBold.woff') format('woff'),
        url('Ciutadella-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Ciutadella';
    src: url('Ciutadella-Light.eot');
    src: local('Ciutadella Light'), local('Ciutadella-Light'),
        url('Ciutadella-Light.eot?#iefix') format('embedded-opentype'),
        url('Ciutadella-Light.woff2') format('woff2'),
        url('Ciutadella-Light.woff') format('woff'),
        url('Ciutadella-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Ciutadella';
    src: url('Ciutadella-LightItalic.eot');
    src: local('Ciutadella Light Italic'), local('Ciutadella-LightItalic'),
        url('Ciutadella-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('Ciutadella-LightItalic.woff2') format('woff2'),
        url('Ciutadella-LightItalic.woff') format('woff'),
        url('Ciutadella-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

