[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "plusnethubtwo"
version = "0.0.1"
authors = [
  { name="Max Blagg" },
]
description = "A Python Package that can control and fetch data from the Plusnet Hub Two router"
readme = "README.md"
requires-python = ">=3.8"
classifiers = [
    "Programming Language :: Python :: 3",
    "Operating System :: OS Independent",
]
license = "MIT"
license-files = ["LICEN[CS]E*"]
