[project]
name = "osc-github-devops"
version = "v0.1.22"
description = "Python project template"
requires-python = "<3.13,>=3.10"
readme = "README.md"
keywords = [
    "Climate",
    "Finance",
]
classifiers = [
    "Intended Audience :: Developers",
    "Intended Audience :: Science/Research",
    "License :: OSI Approved :: Apache Software License",
    "Operating System :: MacOS",
    "Operating System :: Microsoft :: Windows",
    "Operating System :: Unix",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3 :: Only",
    "Programming Language :: Python :: 3.12",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.10",
    "Topic :: Office/Business :: Financial",
    "Topic :: Scientific/Engineering",
    "Topic :: Software Development",
]
dependencies = [
    "typer",
    "jupyterlab",
]

[[project.authors]]
name = "Matthew Watkins"
email = "93649628+ModeSevenIndustrialSolutions@users.noreply.github.com"

[project.license]
text = "Apache-2.0"

[project.urls]
Homepage = "https://github.com/os-climate/osc-github-devops"
Repository = "https://github.com/os-climate/osc-github-devops"
Downloads = "https://github.com/os-climate/osc-github-devops/releases"
"Bug Tracker" = "https://github.com/os-climate/osc-github-devops/issues"
Documentation = "https://github.com/os-climate/osc-github-devops/tree/main/docs"
"Source Code" = "https://github.com/os-climate/osc-github-devops"

[project.scripts]
osc-github-devops = "devops_reusable_workflows.cli:run"

[project.optional-dependencies]
dev = [
    "ruff",
    "toml",
    "pdm",
    "tox",
    "tox-pdm",
]
test = [
    "pdm[pytest]",
    "pytest",
    "pytest-cov",
    "pytest-html",
]

[build-system]
requires = [
    "pdm-backend",
]
build-backend = "pdm.backend"

[tool.pdm.scripts]
test = "pytest"
tox = "tox"
lint = "pre-commit run --all-files"

[tool.pdm.scripts.docs]
shell = "cd docs && mkdocs serve"
help = "Start the dev server for doc preview"

[tool.pdm.scripts.complete]
call = "tasks.complete:main"
help = "Create autocomplete files for bash and fish"

[tool.pdm.dev-dependencies]
tox = [
    "tox",
    "tox-pdm",
]
docs = [
    "sphinx",
    "sphinx-copybutton",
]
lint = [
    "pre-commit",
]

[tool.pytest.ini_options]
testpaths = [
    "tests/",
]
addopts = [
    "--cov",
    "--cov-report=html",
]

[tool.coverage.run]
source = [
    "src",
]
omit = [
    "test/*",
]

[tool.coverage.report]
fail_under = 30
skip_empty = true
ignore_errors = true
show_missing = true
exclude_lines = [
    "pragma: no cover",
    "def __repr__",
    "if self.debug:",
    "raise NotImplementedError",
    "if __name__ == .__main__.:",
    "pass",
    "raise ImportError",
]

[tool.coverage.html]
directory = "coverage_html_report"

[tool.mypy]
ignore_missing_imports = true

[tool.ruff]
exclude = [
    ".bzr",
    ".direnv",
    ".eggs",
    ".git",
    ".git-rewrite",
    ".hg",
    ".ipynb_checkpoints",
    ".mypy_cache",
    ".nox",
    ".pants.d",
    ".pyenv",
    ".pytest_cache",
    ".pytype",
    ".ruff_cache",
    ".svn",
    ".tox",
    ".venv",
    ".vscode",
    "__pypackages__",
    "_build",
    "buck-out",
    "build",
    "dist",
    "node_modules",
    "site-packages",
    "venv",
]

[tool.ruff.lint]
extend-fixable = [
    "W291",
    "W293",
]
extend-select = [
    "D",
    "E",
    "F",
    "B",
    "N",
    "T10",
]
ignore = [
    "E203",
    "E501",
    "D203",
    "D213",
]

[tool.ruff.lint.extend-per-file-ignores]
"!src/**.py" = [
    "D",
]

[tool.ruff.lint.pycodestyle]
max-line-length = 120

[tool.ruff.format]
quote-style = "double"
indent-style = "space"
skip-magic-trailing-comma = false
line-ending = "auto"
docstring-code-format = false
docstring-code-line-length = "dynamic"
