[tool.poetry]
name = "whisper-worker"
version = "0.0.21"
description = ""
authors = ["C. Thomas Brittain <cthomasbrittain@hotmail.com>"]
license = "MIT"
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.10"
llvmlite = "^0.44.0"
numba = "^0.61.0"
openai-whisper = "^20240930"
speechrecognition = "^3.14.1"
pyaudio = "^0.2.14"
pyyaml = "^6.0.2"
rich = "^13.9.4"
pip = "^25.0"

[tool.poetry.dev-dependencies]
black = "^21.12b0"


[tool.poetry.group.dev.dependencies]
black = "^25.1.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
