[build-system]
requires = ["scikit-build-core >=0.10", "nanobind >=1.3.2"]
build-backend = "scikit_build_core.build"

[project]
name = "redc"
version = "0.1.0.dev0"
description = "**RedC** is a **high-performance**, asynchronous **HTTP** client library for **Python**, built on top of the powerful **curl** library"
readme = "README.md"
authors = [{ name = "AYMEN Mohammed", email = "let.me.code.safe@gmail.com" }]
license = { text = "MIT" }
requires-python = ">=3.9"
keywords = ["asyncio", "http", "client", "http-client", "curl", "libcurl"]

[project.urls]
Source = "https://github.com/AYMENJD/redc"
Tracker = "https://github.com/AYMENJD/redc/issues"

[tool.scikit-build]
build-dir = "build/{wheel_tag}"
wheel.py-api = "cp312"

[tool.cibuildwheel]
build-verbosity = 1
build = "cp39* cp310* cp311* cp312* cp313*"
skip = "*musllinux*"
archs = ["x86_64"]

[tool.cibuildwheel.linux]
before-all = "yum install wget gcc openssl-devel make libpsl-devel -y && wget https://curl.se/download/curl-8.11.1.tar.gz && tar -xzvf curl-8.11.1.tar.gz && rm curl-8.11.1.tar.gz && cd curl-8.11.1 && ./configure --with-openssl && make -j && make install && ldconfig && curl --version && cd .. && rm -rf curl-8.11.1"
manylinux-x86_64-image = "manylinux2014"
